.gen-form {
  --standard-radius: 8px;

  height: -webkit-fit-content;
  height:    -moz-fit-content;
  height:         fit-content;
  display: grid;
  justify-content: center;
  gap: 8px;
  grid-template-columns: repeat(auto-fill, 160px minmax(320px, 480px));
  grid-auto-flow: row;
}

.form-label {
  height: 100%;
  background-color: #00bd0f;
  border-radius: var(--standard-radius);
  padding: 0.2rem;
  text-align: end;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.3rem;
  align-content: flex-end;
  justify-content: center;
}

.gen-form .checkbox-list,
.gen-form .customspin-wrapper {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.3rem;
  align-items: baseline;
  justify-content: flex-start;
}

.checkbox-list label {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 5px;
  padding: 0.2rem;
}

.checkbox-list label:hover {
  background-color: #eee;
}

.checkbox-list input[type='checkbox'] {
  cursor: pointer;
  margin: 0.3rem;
  transform: scale(1.4);
  transform-origin: right bottom;
}

.gen-form input[type='number'] {
  font-size: 2rem;
  text-align: center;
}

.gen-form input:invalid:required {
  border: 3px solid red;
}

.customspin-wrapper {
  border-radius: var(--standard-radius);
  height: 60px;
}

.rounded-button {
  border: none;
  border-radius: var(--standard-radius);
  color: black;
  text-align: center;
  word-break: keep-all;
}

.gen-form .button-area {
  display: inline-flex;
  height: 60px;
  justify-content: flex-end;
}

.gen-form .button-area button {
  font-size: 1.4rem;
  font-weight: bold;
  width: 45%;
  max-width: 120px;
  margin-left: 1rem;
  padding: 0.2rem;
}

@media screen and (max-width: 1266px) {
  .gen-form {
    grid-template-columns: 1fr;
  }

  .form-label {
    height: 32px;
    flex-flow: row;
    flex-wrap: wrap;
    align-content: center;
  }

  .form-label * {
    font-size: 24px;
  }
}

@media screen and (max-width: 928px) {
  .gen-form {
    grid-template-columns: repeat(auto-fill, 160px minmax(auto, 480px));
    grid-auto-flow: row;
  }

  .form-label {
    height: 100%;
    text-align: end;
    display: inline-flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: center;
  }

  .gen-form .checkbox-list {
    justify-content: flex-start;
  }

  .gen-form .customspin-wrapper {
    width: 100%;
    justify-self: start;
  }

  .gen-form .button-area button {
    font-size: 1rem;
    margin-left: 2rem;
  }
}
