.gen-form {
  --standard-radius: 5px;

  height: -webkit-fit-content;
  height:    -moz-fit-content;
  height:         fit-content;
  display: grid;
  justify-content: center;
  gap: 12px;
  grid-template-columns: [label] 30% [input] 60%;
}

.gen-form > label {
  grid-column: label;
  align-self: center;
  text-align: end;
}

.checkbox-list label {
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: var(--standard-radius);
  padding: 0.2rem 0.3rem;
}

.checkbox-list label:hover {
  background-color: #eee;
}

.checkbox-list input[type='checkbox'] {
  cursor: pointer;
  margin: 0.2em;
  transform: scale(1.4);
  transform-origin: right bottom;
}

.gen-form input[type='number'] {
  grid-column: input;
  font-size: 2rem;
  text-align: center;
}

.gen-form input:invalid:required {
  border: 3px solid red;
}

.customspin-wrapper {
  border-radius: var(--standard-radius);
  width: 90%;
}

.rounded-button {
  border: none;
  border-radius: var(--standard-radius);
  color: black;
  text-align: center;
  word-break: keep-all;
}

.gen-form .button-area {
  grid-column: input;
  display: inline-flex;
  width: 90%;
  justify-content: space-evenly;
}

.gen-form .button-area button {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 8px 10px;
  width: 45%;
  max-width: 120px;
}

@media screen and (max-width: 928px) {
  .gen-form .button-area button {
    font-size: 1rem;
  }
}
