/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400&display=swap'); */

body {
  font-family: 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', 'Helvetica Neue',
    'BIZ UDGothic', Meiryo, sans-serif;
  background-color: limegreen;
  margin: 0 auto;
  padding: 0;
}

header {
  text-align: center;
  color: white;
  background-color: black;
  width: 100%;
}

header h1 {
  margin: 0;
  padding: 0.5rem;
}

main {
  width: 90%;
  height: 100vh;
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
}

p {
  margin: 0;
  text-align: center;
}

#howto {
  background-color: lightsalmon;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 1rem;
}

#howto ul {
  margin: 0;
}

#howto ul li {
  list-style: square;
  padding: 0.2rem;
}

form {
  padding: 0.5rem;
  display: grid;
  font-size: 1.2rem;
  gap: 10px;
  grid-template-columns: [label] 30% [input] 60%;
}

form > label {
  text-align: end;
  grid-column: label;
}

form > div > label {
  display: inline-block;
}

.checkbox label {
  padding: 0.1em 0.5em;
  border-radius: 0.3em;
  cursor: pointer;
}

.checkbox label:hover {
  background-color: #eee;
}

.checkbox [type='checkbox'] {
  transform: scale(1.4);
  transform-origin: right;
  margin-right: 0.2em;
}

form input {
  font-size: 1.5rem;
  grid-column: input;
}

form input:invalid:required {
  border: 2px solid red;
}

form #button-area {
  grid-column: 2 / 3;
  padding: 0;
  display: inline-flex;
  justify-content: space-evenly;
}

.roundedButton {
  appearance: none;
  cursor: pointer;
  color: black;
  padding: 8px 14px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  overflow-wrap: anywhere;
  width: 45%;
  max-width: 150px;
  height: 50px;
  border-radius: 20px;
}

@media (any-hover: hover) {
  #generateButton {
    transition: background-color 0.2s;
  }

  #generateButton:hover {
    color: white;
    background-color: blue;
  }
}

#result {
  /*   border: 2px solid black; */
  margin: 1rem 1rem;
  min-height: fit-content;
  list-style: none;
  padding: 0;
  text-align: center;
}

#result li {
  line-height: 1.5rem;
}

#result li h3 {
  letter-spacing: 0.2rem;
  margin: 1.5rem 0;
}

.left {
  flex: 1;
  padding: 0.5rem;
  height: 100%;
}

.right {
  flex: 1;
  padding: 0.5rem;
  height: 100%;
  background: lightgreen;
  font-size: 1.5rem;
  text-align: center;
}

@media screen and (max-width: 928px) {
  main {
    flex-direction: column;
  }

  .left {
    flex: 1;
    padding: 0.5rem;
    max-height: fit-content;
  }

  .right {
    flex: 1;
    padding: 0.5rem;
    background: lightgreen;
    min-height: 80vh;
    max-height: 80vh;
    font-size: 1.5rem;
  }
}
