* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', 'Helvetica Neue', 'BIZ UDPGothic', Meiryo, sans-serif;
  background-color: #78c478;
}

header {
  text-align: center;
  color: white;
  background-color: black;
  width: 100%;
}

header h1 {
  margin: 0;
  padding: 0.5rem;
}

main {
  width: 90%;
  margin: 0.5rem auto;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  gap: 5px;
  align-content: start;
  justify-content: center;
}

main > * {
  padding: 0.5rem;
}

.no-word-break {
  display: inline-block;
}

div.wrapper {
  grid-column: 1 / 2;
  margin: 0 auto;
  width: 100%;
}

#howto {
  width:  -webkit-fit-content;
  width:     -moz-fit-content;
  width:          fit-content;
  height: -webkit-fit-content;
  height:    -moz-fit-content;
  height:         fit-content;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 1rem auto;
}

#howto p {
  padding-top: 0.5rem;
}

#howto ul li {
  list-style: square;
  padding: 0.2rem;
}

form.gen-form {
  margin: 1rem auto;
}

.result-area {
  font-family: ui-monospace, Osaka, Monaco, Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  grid-column: 2 / 3;
  grid-row: 1 / span 2;
  background: lightgreen;
  font-size: 1.5rem;
  text-align: center;
}

#result {
  list-style: none;
  height: -webkit-fit-content;
  height:    -moz-fit-content;
  height:         fit-content;
  margin: 0 1rem;
  padding: 0;
  text-align: center;
  line-height: 1.8rem;
}

#result li {
  width: 100%;
}

#result li h3 {
  letter-spacing: 0.3rem;
  margin: 1.4rem auto;
}

@media screen and (max-width: 928px) {
  main {
    grid-template-columns: 1fr;
  }

  .result-area {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    min-height: 80vh;
    max-height: -webkit-fit-content;
    max-height:    -moz-fit-content;
    max-height:         fit-content;
  }
}
