body {
  font-family: 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', 'Helvetica Neue', 'BIZ UDPGothic', Meiryo, sans-serif;
  background-color: #78c478;
  margin: 0 auto;
  padding: 0;
}

header {
  text-align: center;
  color: white;
  background-color: black;
  width: 100%;
}

header h1 {
  margin: 0;
  padding: 0.5rem;
}

main {
  width: 90%;
  margin: 0.5rem auto;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fill, 340px);
  gap: 5px;
  align-content: start;
}

main > * {
  padding: 0.5rem;
}

p {
  margin: 0.2rem;
}

#howto {
height: fit-content;
  font-weight: bold;
  font-size: 1.2rem;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#howto p {
  padding-top: 0.2rem;
}

#howto ul {
  margin: 0;
}

#howto ul li {
  list-style: square;
  padding: 0.2rem;
}

form {
  grid-column: 1 / 2; /* main に対する指定 */
  grid-row: 2 / 3;    /* main に対する指定 */

  font-size: 1.2rem;
  height: fit-content;
  display: grid;
  justify-content: center;
  gap: 10px;
  grid-template-columns: [label] 30% [input] 70%;
}

form > label {
  text-align: end;
  align-self: center;
  grid-column: label;
}

.checkboxList label {
  display: inline-block;
  padding: 0.2rem 0.3rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.checkboxList label:hover {
  background-color: #eee;
}

.checkboxList [type='checkbox'] {
  transform: scale(1.4);
  transform-origin: right bottom;
  margin-right: 0.2em;
}

form input[type='number'] {
  font-size: 1.5rem;
  grid-column: input;
  width: 90%;
}

form input:invalid:required {
  border: 2px solid red;
}

form #button-area {
  grid-column: 2 / 3;
  padding: 0;
  display: inline-flex;
  justify-content: space-evenly;
}

.roundedButton {
  appearance: none;
  border: none;
  border-radius: 1vw;
  cursor: pointer;
  color: black;
  text-align: center;
  overflow-wrap: anywhere;
}

#button-area button {
  padding: 8px 14px;
  font-size: 1.2rem;
  font-weight: bold;
  width: 45%;
  max-width: 150px;
}

@media (any-hover: hover) {
  button {
    transition: background-color 0.2s;
  }

  #generateButton:hover {
    color: white;
    background-color: #2e80e2;
  }

  #resetButton:hover {
    color: white;
    background-color: #868686;
  }
}

#result {
  list-style: none;
  margin: 0 1rem;
  padding: 0;
  text-align: center;
  line-height: 1.8rem;
}

#result li {
  width: 100%;
}

#result li h3 {
  letter-spacing: 0.2rem;
  margin: 1.4rem 0;
}

.result-area {
  font-family: 'BIZ UDGothic', monospace;
  grid-column: 2 / 3;
  grid-row: 1 / span 2;
  padding: 0.5rem;
  background: lightgreen;
  font-size: 1.4rem;
  text-align: center;
}

@media screen and (max-width: 928px) {
  main {
    grid-template-columns: 1fr;
  }

  .result-area {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    min-height: 80vh;
    max-height: fit-content;
    padding: 0.5rem;
    font-size: 1.5rem;
  }
}
